*,html,body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'General Sans', sans-serif;                                     
}

/* text */
a{
    text-decoration: none;
}
.title{
    font-size: 72px;
    font-weight: 500;
}
.title-white{
    font-size: 72px;
    font-weight: 500;
    color: white;
}
.text-white{
    color: white;
}
.description{
    font-size: 18px;
}
.description-white{
    font-size: 18px;
    color: white;
}
.description-white a{
    color: white;
    font-weight: bolder;
}
.hero-title{
    font-size: 72px;
    font-weight: 500;
}
.hero-text {
    text-align: left;
    position: absolute;
    top: 30%;
    left: 2%;
    color: white;
    width: 95%;
}
.hero-description {
    width: 30%;
    font-size: 18px;
    padding: 10px;
}
.hero a{
    color: white;
}
.container a{
    color: black; 
}
.textbox-md{
    margin-right: auto;
    margin-top: 20px;
    text-align: left;
    top: 45%;
    left: 2%;
    width: 50%;
}
.hero-title{
    margin-right: auto;
    text-align: left;
    top: 45%;
    left: 2%;
    width: 60%;
}
.hero-black-text{
    position: relative;
    top: 25%;
    left: 2%;
    width: 80%;
}
.container-title{
    margin-right: auto;
    text-align: left;
    top: 45%;
    left: 2%;
    width: 60%;
}
.container-title-md{
    margin-right: auto;
    text-align: left;
    top: 45%;
    left: 2%;
    width: 80%;
    font-weight: 500;
}
.container-description{
    margin-right: auto;
    margin-top: 20px;
    text-align: left;
    top: 45%;
    left: 2%;
    width: 55%;
    font-weight: 500;
}
.card-title{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card-title-white{
    width: 100%;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    font-weight: 600;
}
.card-description{
    margin-bottom: 10px;
}
.card-description-white{
    color: white;
    font-weight: lighter;
    margin-bottom: 10px;
}
.parallax-text {
    text-align: left;
    position: sticky;
    top: 20%;
    left: 2%;
    color: white;
    width: 95%;
}
.wrapper-title{
    display: flex;
    flex-wrap: wrap;
    align-items: last baseline;
    width: 100%;
}
#prevButton,
#nextButton {
    display: flex;
    position: relative;
    z-index: 2;
    background: rgba(7, 7, 7, 0.377);
    align-items: center;
    height: 600px;
    width: 34.5px;
}
#prevButton-white,
#nextButton-white {
    display: flex;
    position: relative;
    z-index: 1;
    color: white;
    background: black;
    align-items: center;
    height: 50px;
}
.wrapper-description{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 98%;
}
.copyright{
    font-size: 12px;
    margin-right: auto;
}
footer a{
    color: white;
}

/* image */
.img{
    width: 1270px;
    height: 400px;
    margin-top: 20px;
}
.logo{
    margin-right: 10px;
}
.title-img {
    margin-bottom: 0px;
    display: inline-block;
    vertical-align: middle;
}
.card-img{
    width: 350px;
    height: 400px;
}
.card-img-black{
    width: 280px;
    height: 450px;
}
/* .card-img-black:hover{
    width: 300px;
    height: 480px;
    transition: all .5s ease 0s;
} */

/* margin */
.mb-1{
    margin-bottom: 10px;
}
.mt-1{
    margin-top: 10px;
}
.mt-2{
    margin-top: 20px;
}
.d-inline{
    display: inline;
}

/* header nav */
#toggleNavBtn {
    display: none;
}
header{
    background-color: black;
    color: #eee;
    flex-wrap: wrap;
    width: 100%;
    /* position: fixed; */
    padding: 10px;
}
.nav-left{
    display: flex;
}
.nav-left a {   
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
nav a:hover{
    color: grey;
    transition: all .5s ease 0s;
}
.nav-right {
    margin-left: auto;
    font-weight: bolder;
}

/* hero */
.hero {
    background-image: url("img/hero.jpg");
    background-color: black;
    height: 600px;
    background-position: 650px 50px;
    background-repeat: no-repeat; 
    background-size: 35%;
    width: 100%;
}
.hero-black {
    /* background-image: url("img/hero.jpg"); */ /*disabled for manual settings*/
    background-color: black;
    height: 700px; 
    background-position: right;
    background-repeat: no-repeat;
    background-size: 70%;
}
div.absolute {
    position: absolute;
    bottom: 1px;
    right: 16px;
}

/* body container white*/
.container{
    width: 100%;
    min-height: 100vh;
    height: auto; 
    padding: 40px;
}

/* body container black */
.container-black{
    background: black;
    width: 100%;
    min-height: 100vh;
    height: auto; 
    padding: 40px;
}

/* wrapper and card  */
.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    overflow: hidden; 
    width: 100%;
}
.wrapper-black{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    overflow: hidden; 
    width: 100%;
}
.card{
    display: flex;
    padding: 10px;
    transition: transform 0.3s ease;
}
.card-item{
    z-index: 1;
    text-align: center;
    width: 35%;
    height: auto;
    color: #222;
    padding: 10px;
}
.card-black{
    display: flex;
    padding: 10px;
    transition: transform 0.3s ease;
}
.card-item-black{
    z-index: 2;
    text-align: left;
    width: 35%;
    height: auto;
    color: #222;
    padding: 10px;
}
button {
    display: flex;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
    padding: 5px;
}

/* parallax */
.parallax {
    /* background-image: url("/img/studio\ animation.png"); */ /*disabled for manual set*/
    background-color: black;
    height: 100vh; 
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 60%;
}

/* footer */
footer{
    padding: 20px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    color: white;
    width: 100%;
    height: 90px;
    align-items: last baseline;
    justify-content: space-between;
}
.icon-footer{
    margin-right: auto;
    letter-spacing: 4px;
}

/* media responsive */
@media (max-width: 480px){
    .logo{
        height: 50px;
    }
    .hero{
        background-size: 100%;
        background-position: center 60%;
        height: 60em;
    }
    .hero-black{
        background-size: 100%;
        background-position: center 50%;
        height: 60em;
        padding: 10px;
    }
    .hero-black-text{
        width: 98%;
        position: relative;
        bottom: 0px;
        right: 0px;
        top: 0px;
        left: 0px;
        margin-top: 2em;
    }
    .hero-title, .container-title, .container-title-md{
        width: 100%;
        font-size: 43px;
    }
    .textbox-md{
        width: 100%;
    }
    .description-white{
        position: relative;
        bottom: 0px;
        right: 0px;
        top: 22em;
        left: 0px;
        margin-top: 1.5em;
    }
    div.absolute {
        position: absolute;
        bottom: 0px;
        right: 0px;
        top: 37em;
        left: 0px;
        width: 100%;
        padding: 10px;
    }
    .container{
        padding: 10px;
    }
    .container-black{
        padding: 10px;
    }
    .img{
        width: 100%;
        height: 200px;
    }
    .card-img{
        width: 300px;
        height: 300px;
    }
    .wrapper-title{
        flex-direction: column;
    }
    .wrapper-description{
        flex-direction: column;
        display: block;
        margin-bottom: 20px;
    }
    .container-description{
        width: 100%;
        margin-bottom: 20px;
    }
    .card-item{
        width: 100%;
    }
    .card-item-black{
        width: 80%;
    }
    #nextButton, #prevButton{
        width: 25px;
    }
    
}
@media screen and (min-width: 854px) and (max-width: 950px){
    .img{
        width: 100%;
        height: 20em;
    }
    .hero{
        background-size: 60%;
        background-position: right 20%;
        height: 50em;
    }
    .hero-black{
        height: 65em;
    }
    .container-title{
        width: 100%;
    }
    .container-title-md{
        width: 100%;
    }
    .card-item{
        width: auto;
    }
    .card-item-black{
        width: auto;
    }
    footer{
        height: 20%;
    }
    #nextButton {
        width: 20px;
    }
}
/* for QHD and HD resolution */
@media screen and (min-width: 960px) and (max-width: 1251px){
    .img{
        width: 100%;
        height: 20em;
    }
    .hero{
        background-size: 40%;
        background-position: 80% 20%;
        height: 50em;
    }
    .hero-black{
        height: 65em;
    }
    .container-title{
        width: 80%;
    }
    .card-item{
        width: 50%;
    }
    .card-item-black{
        width: 40%;
    }
    footer{
        height: 5%;
    }
    #nextButton {
        width: 30px;
    }

}
@media screen and (min-width: 1280px) and (max-width: 1360px){
    .img{
        width: 100%;
    }
    .hero{
        background-size: 40%;
        background-position: 80% 20%;
        height: 50em;
    }
    .hero-black{
        height: 60em;
    }
    .container-title{
        width: 80%;
    }
    footer{
        height: 10%;
    }
}
/* Full HD Resolution */
@media screen and (min-width: 1920px){
    .hero{
        background-size: 35%;
        background-position: 900px 80px;
        height: 1000px;
    }
    .hero-black{
        height: 100vh;
    }
    .hero-title{
        width: 60%;
        font-size: 72px;
        font-weight: 500;
    }
    .wrapper-title{
        margin-bottom: 4%;
    }
    .card{
        width: 92%;
    }
    .card-item{
        width: 40%;
    }
    .card-img{
        width: 420px;
        height: 470px;
    }
    .card-img-black{
        width: 300px;
        height: 600px;
    }
    .container-title-md{
        width: 60%;
    }
    .hero-text {
        font-size: 32px;
    }
    b, .hero-description, .description, .description-white, .card-title, .card-description, .card-title-white, .card-description-white, .icon-footer, footer a {
        font-size: 24px;
    }
    .img{
        width: 1850px;
        height: 600px;
    }
    .copyright{
        font-size: 18px;
    }
    .nav-left a {   
        font-size: 20px;
    }
    #prevButton,
    #nextButton {
        display: flex;
        position: relative;
        z-index: 2;
        background: rgba(7, 7, 7, 0.377);
        align-items: center;
        height: 800px;
        width: 34.5px;
    }
}