*,html,body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

/* header nav */
header{
    background-color: black;
    color: #eee;
    flex-wrap: wrap;
    width: 100%;
    /* position: fixed; */
    padding: 10px;
}
.logo{
    margin-right: 10px;
}
.nav-left{
    display: flex;
}
.nav-left a {   
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.nav-right {
    margin-left: auto;
    font-weight: bolder;
}

/* text */
a{
    text-decoration: none;
}
.title{
    font-size: 72px;
}
.hero a{
    color: white;
}
.container a{
    color: black; 
}
.right{
    text-align: right;
}

/* margin */
.mb-1{
    margin-bottom: 10px;
}
.mt-1{
    margin-top: 10px;
}
.mt-2{
    margin-top: 20px;
}
.col {
    float: left;
    width: 50%;
    padding: 10px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* hero */
.hero {
    background-image: url("img/hero.jpg");
    background-color: black;
    height: auto;
    min-height: 100vh;
    background-position: 650px 100px;
    background-repeat: no-repeat; 
    background-size: 350px 200px;
    width: 100%;
}
.hero-title{
    font-size: 72px;
}
.hero-text {
    text-align: left;
    position: absolute;
    top: 45%;
    left: 2%;
    color: white;
    width: 95%;
}
.hero-description {
    width: 30%;
    font-size: 18px;
    padding: 10px;
}
div.absolute {
    position: absolute;
    bottom: 1px;
    right: 16px;
}

/* body container white*/
.container{
    width: 100%;
    min-height: 100vh;
    height: auto; 
    padding: 40px;
}
.container-title{
    margin-right: auto;
    text-align: left;
    top: 45%;
    left: 2%;
    width: 60%;
}
.container-title-1{
    margin-right: auto;
    text-align: left;
    top: 45%;
    left: 2%;
    width: 80%;
}
.music-com{
    width: 1300px;
    height: 600px;
}
/* wrapper and card  */
.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.wrapper-title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: last baseline;
    width: 100%;
}
.card{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5); */
}
.card-item{
    text-align: center;
    width: 30%;
    height: auto;
    /* background-color: #eee; */
    color: #222;
    padding: 10px;
}
.card-img{
    width: 300px;
    height: 300px;
}
.card-title{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* body container black */
.container-black{
    background: black;
    width: 100%;
    min-height: 100vh;
    height: auto; 
    padding: 40px;
}
.title-black{
    font-size: 72px;
    color: white;
}
.wrapper-black{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}
.card-black{
    display: flex;
    width: 90%;
    padding: 10px;
}
.card-item-black{
    text-align: left;
    width: 30%;
    height: auto;
    color: #222;
    padding: 10px;
}
.card-img-black{
    width: 280px;
    height: 450px;
}
.card-title-black{
    width: 70%;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}
.card-description-black{
    color: white;
}

/* footer */
footer{
    padding: 10px;
    background-color: black;
    display: flex;
    color: white;
    width: 100%;
    justify-content: center;
}
.icon-footer{
    margin-right: auto;
}
.copyright{
    font-size: 12px;
    margin-right: 45%;
}

